@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

:root {
  --primary--color: rgba(52, 52, 194, 0.918);
  --secondary--color: rgba(140, 140, 145, 0.719);
}

body {
  background-color: rgba(41, 41, 41, 0.925);
  height: 100vh;
}

li {
  list-style: none;
  display: block;
  margin: 0.5rem 1rem;
  font-weight: 500;
  font-size: 1.2rem;
}

a {
  text-decoration: none;
}

header,
ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

header a {
  color: white;
  font-weight: 400;
  padding: 0.2rem;
}
.header a:hover {
  border-bottom: 2px solid black;
}

.header {
  background-color: var(--secondary--color);
  padding: 1.3rem 2rem;
}

.active-page {
  font-weight: 700;
  border-bottom: 2px solid white;
}

.header-name {
  font-size: 1.5rem;
  color: white;
  font-weight: bolder;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main > h1 {
  text-align: center;
  margin: 2rem auto auto auto;
  font-size: 2.7rem;
  color: white;
}

span {
  color: var(--primary--color);
}

.blog {
  max-width: 700px;
  padding: 1.5rem;
  margin: 1rem;
  border-radius: 17px;
  background: linear-gradient(315deg, #e3e3e3, #ffffff);
  box-shadow: 4px 2px 0px #f2f2f2;
}

small {
  font-style: italic;
  color: rgb(102, 100, 100);
}

.blog button {
  padding: 0.3rem 0.7rem;
  font-size: 0.9rem;
  margin-top: 1rem;
  margin-right: 1rem;
  cursor: pointer;
  font-weight: 500;
  background-color: #513cc8;
  border-radius: 2px;
}

.blog button a{
  color: white;

}

.social-touch {
  position: sticky;
  top: 100%;
  width: 100%;
}

footer {
  display: flex;
  padding: 1rem;
  justify-content: center;
  gap: 2rem;
  background: var(--secondary--color);
  background: linear-gradient(
    90deg,
    rgb(116, 116, 117) 0%,
    rgba(45, 45, 49, 0.9332866935836834) 0%,
    rgb(179, 181, 182) 100%
  );
}

.icon-style {
  font-size: 35px;
  color: white;
}

ul {
  justify-content: center;
}

footer a {
  color: white;
  font-weight: 400;
}
