@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
}

:root{
    --primary--color: rgba(52, 52, 194, 0.918);
    --secondary--color:rgba(140, 140, 145, 0.719);
}

body{
   background-color: rgba(41, 41, 41, 0.925);
}

li{
    list-style: none;
    display: block;
   margin: 0.5rem 1rem;
   font-weight: 500;
   font-size: 1.2rem;
   
}

a{
    text-decoration: none;
   
}








header, ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}

header a{
    color: white;
}

.header{
    background-color: var( --secondary--color);
    padding: 1.3rem 2rem;   
}

.active-page{
  font-weight: 700;
}


.header-name{
    font-size: 1.5rem;
    color: white;
    font-weight: bolder;
}


.img-div {
   display: flex;
   justify-content: center;
   margin: 1rem 0rem;
   flex-direction: column;
   margin: 3.2rem 0rem 2rem 0rem;
}

.img-div > div{
    display: flex;
    justify-content: center;
}

.intro-name{
    text-align: center;
    font-weight: 700;
    font-size: 3rem;
    margin: 1.4rem 0rem;
    color: white;
}
.intro-name-span{
    color: var(--primary--color);
}





.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-div{
    margin: 1rem 0rem 0rem 0rem;
  margin: auto;
   width: 600px;
   padding: 3rem 0rem;

}


 main > div:nth-child(even){
    background-color: rgb(238, 238, 238);
    
}

.main-div > h2{
    text-align: center;
    font-size: 2rem;
}

.main-div > p{
    margin: 1rem 0rem;
    font-size: 1.1rem;
}

button{
    width: 7.5rem;
height: 2.5rem;
border:none;
border-radius: 10px;
border:1px solid var(--primary--color); 
}

.project-section-home{
    color: white;
}



button > a{
    font-size: 1rem;
    font-weight: 400;
padding: 0.7rem 1rem;
border-radius: 10px;
}

.project-btn{
    background-color: var(--primary--color); 
    
}

.project-btn > a{
    color: white;
}












/* footer */

footer{
    display: flex;
    padding: 1rem;
    justify-content: center;
    gap: 2rem;
    background:  var( --secondary--color);
    background: linear-gradient(90deg, rgb(116, 116, 117) 0%, rgba(45,45,49,0.9332866935836834) 0%, rgb(179, 181, 182) 100%); 
}


.icon-style{
    font-size:35px; 
    color: white; 
}

ul{
    justify-content: center;
}

footer a{
    color: white;
    font-weight: 400;
}


















