* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  scroll-behavior: smooth;
}

::-moz-selection {
  background: #ffffff;
  color: #404040;
}

::selection {
  background: #3c3852;
  color: #ffffff;
}